{% sw_extends "@Storefront/storefront/component/buy-widget/buy-widget-form.html.twig" %}

{% block buy_widget_buy_container %}
    {{ parent() }}

    {% block buy_widget_buy_button_container_easycredit %}
        {% set isProductDetail = cmsPage.type is same as 'product_detail' %}

        {% if buyable and product.calculatedCheapestPrice.totalPrice > 0 %}

            {% block buy_widget_buy_button_container_easycredit_express %}
                {# @var easycredit #}
                {% set easycredit = page.extensions.easycredit %}

                {% if easycredit.expressProductEnabled %}

                    {% set price = product.calculatedPrice %}
                    {% if product.calculatedPrices.count > 0 %}
                        {% set price = product.calculatedPrices.last %}
                    {% endif %}
                    <div class="form-row mt-3 justify-content-end d-flex">
                        {% sw_include '@EasyCreditRatenkauf/storefront/component/express-button.html.twig' with {amount: price.unitPrice} %}
                    </div>
                {% endif %}
            {% endblock %}

        {% endif %}
        
    {% endblock %}
{% endblock %}
