bin export-ignore
replace.sh export-ignore
*.dist export-ignore
psalm.xml export-ignore
merchant-interface export-ignore
Gruntfile.js export-ignore
package-lock.json export-ignore

easy-credit-ratenkauf.js diff=minjs
easycredit-checkout.js diff=minjs
