includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    #- vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    level: 1
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    featureToggles:
        disableCheckMissingIterableValueType: false
    symfony:
        constant_hassers: false
        # the placeholder "%ShopwareHashedCacheDir%" will be replaced on execution by bin/phpstan-config-generator.php script
        container_xml_path: '%ShopwareRoot%%ShopwareHashedCacheDir%/%ShopwareKernelClass%DevDebugContainer.xml'
    scanDirectories:
        - %ShopwareRoot%/vendor
    excludePaths:
        -  %currentWorkingDirectory%/src/Api/Storage.php
