:host {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*
  /@media (min-width: $breakpoint-sm-up) {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  @media (max-width: $breakpoint-sm-down) {
    padding-bottom: 60px;
  }
  */
}
:host a {
  color: #0066b3;
  text-decoration: none;
  transition: color 0.2s cubic-bezier(0.73, 0.32, 0.14, 0.99);
}
:host a:hover {
  color: rgba(0, 102, 179, 0.7);
}
:host .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #009ee0;
  border: 0;
  border-radius: 20px;
  transition: all 0.1s cubic-bezier(0.73, 0.32, 0.14, 0.99);
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  line-height: 1.4;
}
:host .btn.btn-primary {
  background-color: #ff6700;
}
:host .btn:hover, :host .btn:active, :host .btn:focus, :host .btn:visited {
  background-color: #0066b3 !important;
  color: #fff !important;
}
:host .btn:hover.btn-primary, :host .btn:active.btn-primary, :host .btn:focus.btn-primary, :host .btn:visited.btn-primary {
  background-color: #F06100 !important;
}
:host .btn:active, :host .btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 103, 0, 0.4) !important;
}
:host .btn:disabled, :host .btn.disabled {
  cursor: default;
  pointer-events: none;
  background-color: rgba(255, 103, 0, 0.5) !important;
  color: #fff;
}
:host h1, :host h2, :host h3,
:host .heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
}
:host small {
  font-size: 12px;
  line-height: 1.6;
}
:host .form-radio,
:host .form-check {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
:host .form-radio input,
:host .form-check input {
  margin: 3px 6px 3px 1px;
}
:host .form-radio label,
:host .form-check label {
  display: inline-block;
  padding-left: 0;
  width: 100%;
  vertical-align: top;
  cursor: pointer;
  user-select: none;
}
:host .form-radio label small,
:host .form-check label small {
  display: inline-block;
  font-weight: normal;
}
:host .form-radio.badges input,
:host .form-check.badges input {
  display: none;
}
:host .form-radio.badges label,
:host .form-check.badges label {
  display: inline-block;
  margin-right: 10px;
  padding: 7px 25px;
  width: auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  transition: all 0.1s cubic-bezier(0.73, 0.32, 0.14, 0.99);
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: #000;
}
:host .form-radio.badges input[type=radio]:checked + label,
:host .form-check.badges input[type=radio]:checked + label {
  background-color: #0066b3;
  color: #fff;
}
:host .form-submit {
  margin-top: 20px;
  text-align: right;
}
:host .easycredit-tx-alert {
  display: block;
  margin: 10px 0;
  padding: 10px 15px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  background-color: #0066b3;
  border-radius: 3px;
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  color: #fff;
  -moz-animation: hideAnimation 0s ease-in 5s forwards;
  /* Firefox */
  -webkit-animation: hideAnimation 0s ease-in 5s forwards;
  /* Safari and Chrome */
  -o-animation: hideAnimation 0s ease-in 5s forwards;
  /* Opera */
  animation: hideAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
:host .easycredit-tx-alert.error {
  background-color: #e90202;
}
:host .easycredit-tx-alert.success {
  background-color: #8dd600;
}
@keyframes hideAnimation {
  0% {
    opacity: 1;
  }
  99.9% {
    opacity: 0;
    max-height: 100px;
  }
  100% {
    opacity: 0;
    max-height: 0;
    padding: 0;
    margin: 0;
  }
}
@keyframes circle-linear--animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.easycredit-tx-manager {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  padding: 30px 25px;
  min-width: 200px;
  width: 250px;
  max-width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  user-select: none;
}
.easycredit-tx-manager:before {
  content: "";
  margin-bottom: 15px;
  display: block;
  height: 25px;
  background-color: transparent;
  background-image: url("data:image/svg+xml,<svg width='238' height='52' xmlns='http://www.w3.org/2000/svg'><g fill='none' fill-rule='evenodd'><path d='M14.384 9.308l-.258 5.84h-1.07c-4.133 0-6.384 2.116-6.384 6.86v5.73H.768V9.418h5.904v3.503C8 10.73 10.03 9.162 13.056 9.162c.516 0 .886.037 1.328.146M29.91 18.578c0-2.81-2.14-4.744-4.538-4.744-2.583 0-4.464 1.933-4.464 4.744 0 2.846 1.881 4.743 4.464 4.743 2.399 0 4.539-1.897 4.539-4.743zm5.905 9.16H29.91v-1.46c-1.44 1.277-3.358 2.007-5.757 2.007-4.907 0-9.04-3.905-9.04-9.707 0-5.766 4.133-9.707 9.04-9.707 2.399 0 4.317.73 5.757 2.007v-1.46h5.904v18.32zM53.304 26.934c-1.44.766-2.952 1.35-5.055 1.35-4.613 0-7.38-2.481-7.38-7.298v-6.934H37.51V9.418h3.358v-5.4h5.904v5.4h5.461v4.634h-5.461v6.35c0 1.898.922 2.664 2.472 2.664.812 0 1.918-.292 2.694-.73l1.365 4.598zM59.606 16.498h7.638c-.554-1.97-2.03-2.883-3.727-2.883-1.66 0-3.358 1.022-3.911 2.883zm13.468 3.576H59.496c.48 2.19 1.992 3.54 3.984 3.54 1.365 0 2.952-.33 3.948-2.117l5.24 1.058c-1.586 3.869-4.944 5.73-9.188 5.73-5.35 0-9.778-3.905-9.778-9.708 0-5.766 4.428-9.706 9.815-9.706 5.24 0 9.446 3.722 9.557 9.706v1.497zM94.356 16.498v11.24H88.49v-10c0-2.153-1.292-3.613-3.174-3.613-2.324 0-3.837 1.57-3.837 5.11v8.503h-5.904V9.418h5.904v1.751c1.402-1.46 3.358-2.298 5.682-2.298 4.317 0 7.195 3.029 7.195 7.627M110.783 27.737l-6.014-6.605h-1.07v6.605h-5.904V1.462h5.904v14.196h.811l5.867-6.24h7.121l-8.117 8.722 8.967 9.597z' fill='%23005DA9'/><path d='M132.085 18.578c0-2.81-2.14-4.744-4.54-4.744-2.582 0-4.464 1.933-4.464 4.744 0 2.846 1.882 4.743 4.465 4.743 2.398 0 4.539-1.897 4.539-4.743zm5.904 9.16h-5.904v-1.46c-1.44 1.277-3.358 2.007-5.757 2.007-4.907 0-9.04-3.905-9.04-9.707 0-5.766 4.133-9.707 9.04-9.707 2.399 0 4.317.73 5.757 2.007v-1.46h5.904v18.32zM160.19 27.737h-5.904v-1.751c-1.402 1.46-3.357 2.298-5.682 2.298-4.317 0-7.196-3.028-7.196-7.626V9.418h5.868v10c0 2.152 1.291 3.612 3.173 3.612 2.325 0 3.837-1.57 3.837-5.11V9.418h5.904v18.32zM176.004 9.418v4.634h-5.092v13.686h-5.867V14.052h-2.656V9.418h2.656V7.995c0-4.307 2.989-7.044 7.454-7.044 1.254 0 2.472.256 3.653.767l-1.255 4.525c-.553-.182-1.144-.292-1.586-.292-1.402 0-2.399.84-2.399 2.299v1.168h5.092zM60.048 43.903c0-1.384-.926-2.336-2.197-2.336-1.18 0-2.235.952-2.235 2.336 0 1.401 1.054 2.335 2.235 2.335 1.271 0 2.197-.934 2.197-2.335m2.852 0c0 2.857-2.034 4.78-4.45 4.78-1.18 0-2.126-.36-2.834-.989v.72H52.71V35.475h2.906v4.635c.708-.628 1.654-.987 2.834-.987 2.416 0 4.45 1.94 4.45 4.78M68.31 51.468h-3.142l1.471-3.36-3.778-8.733h3.124l2.162 5.265 2.306-5.265h3.125zM81.28 42.879h3.76c-.273-.97-1-1.42-1.834-1.42-.818 0-1.653.503-1.926 1.42zm6.63 1.76h-6.685c.237 1.079.981 1.744 1.962 1.744.672 0 1.453-.162 1.943-1.042l2.58.52c-.781 1.905-2.434 2.822-4.523 2.822-2.633 0-4.813-1.923-4.813-4.78 0-2.839 2.18-4.78 4.832-4.78 2.579 0 4.65 1.833 4.704 4.78v.736zM96.026 43.903c0-1.384-1.053-2.336-2.234-2.336-1.271 0-2.198.952-2.198 2.336 0 1.401.927 2.335 2.198 2.335 1.18 0 2.234-.934 2.234-2.335zm2.906 4.51h-2.906v-.719c-.708.629-1.653.989-2.834.989-2.415 0-4.45-1.923-4.45-4.78 0-2.839 2.035-4.78 4.45-4.78 1.181 0 2.126.36 2.834.988v-.718h2.906v9.02zM103.114 45.484c.127.773.836 1.06 1.617 1.06.763 0 1.18-.323 1.18-.718 0-.306-.236-.54-.908-.665l-1.853-.36c-1.688-.305-2.651-1.203-2.651-2.623 0-1.85 1.616-3.054 3.923-3.054 2.27 0 3.778 1.024 4.142 2.587l-2.652.521c-.092-.557-.636-1.06-1.526-1.06-.781 0-1.035.377-1.035.7 0 .252.108.504.69.63l2.143.43c1.725.36 2.525 1.385 2.525 2.714 0 1.994-1.744 3.037-4.142 3.037-2.143 0-3.977-.773-4.286-2.624l2.833-.575zM114.317 51.468h-3.142l1.47-3.36-3.777-8.733h3.124l2.161 5.265 2.307-5.265h3.124zM132.697 43.903c-.562 3.018-3.015 4.78-6.14 4.78-3.614 0-6.465-2.75-6.465-6.29 0-3.521 2.851-6.288 6.466-6.288 2.997 0 5.54 1.76 6.121 4.618l-2.943.682c-.381-1.743-1.616-2.587-3.178-2.587-1.926 0-3.469 1.527-3.469 3.575 0 2.049 1.543 3.595 3.469 3.595 1.544 0 2.78-.863 3.197-2.66l2.942.575zM140.994 39.339l-.127 2.875h-.528c-2.034 0-3.142 1.042-3.142 3.378v2.821h-2.906v-9.02h2.906v1.725c.654-1.078 1.654-1.85 3.142-1.85.255 0 .436.017.655.071M144.397 42.879h3.76c-.273-.97-1-1.42-1.835-1.42-.817 0-1.653.503-1.925 1.42zm6.63 1.76h-6.685c.236 1.079.98 1.744 1.962 1.744.672 0 1.453-.162 1.943-1.042l2.58.52c-.781 1.905-2.435 2.822-4.523 2.822-2.635 0-4.814-1.923-4.814-4.78 0-2.839 2.18-4.78 4.832-4.78 2.578 0 4.65 1.833 4.705 4.78v.736zM159.142 43.903c0-1.384-1.053-2.336-2.234-2.336-1.272 0-2.198.952-2.198 2.336 0 1.401.926 2.335 2.198 2.335 1.18 0 2.234-.934 2.234-2.335zm2.906 4.51h-2.906v-.719c-.708.629-1.653.989-2.833.989-2.416 0-4.45-1.923-4.45-4.78 0-2.839 2.034-4.78 4.45-4.78 1.18 0 2.125.36 2.833.988v-4.635h2.906v12.937zM164.056 48.413h2.907v-9.02h-2.907v9.02zm3.143-11.679c0 .916-.708 1.599-1.69 1.599-.98 0-1.67-.683-1.67-1.599 0-.88.69-1.635 1.67-1.635.982 0 1.69.754 1.69 1.635zM175.69 48.018c-.708.377-1.452.665-2.488.665-2.27 0-3.633-1.222-3.633-3.595v-3.413h-1.652v-2.282h1.652v-2.66h2.907v2.66h2.688v2.282h-2.688v3.126c0 .935.453 1.312 1.216 1.312.4 0 .945-.144 1.327-.36l.672 2.265zM237.095 24.775c0 12.525-10.153 22.678-22.679 22.678-12.525 0-22.678-10.153-22.678-22.678 0-12.526 10.153-22.68 22.678-22.68 12.526 0 22.68 10.154 22.68 22.68' fill='%23005DA9'/><path d='M216.966 10.306h-6.299a7.074 7.074 0 00-7.073 7.075v14.15a7.074 7.074 0 017.073-7.075l6.3-.002a7.074 7.074 0 100-14.148' fill='%23FFF'/><path d='M210.668 24.455c-3.823 0-6.929 3.034-7.062 6.824h-.013v7.324h21.86l-14.785-14.148z' fill='%23EC6608'/></g></svg>");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
}
.easycredit-tx-manager strong,
.easycredit-tx-manager label {
  font-family: Helvetica, Arial, sans-serif;
}
.easycredit-tx-manager label {
  display: inline-block;
  margin-bottom: 5px;
}
.easycredit-tx-manager p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  user-select: text;
}
.easycredit-tx-manager p strong {
  user-select: none;
}
.easycredit-tx-manager p a, .easycredit-tx-manager span a {
  color: #0066b3;
  font-weight: bold;
}
.easycredit-tx-manager .transaction-info p {
  margin: 1em 0;
}
.easycredit-tx-manager .progress-bar {
  margin-bottom: 20px;
  text-align: center;
}
.easycredit-tx-manager .progress-bar .progress.light {
  color: rgba(0, 0, 0, 0.5);
}
.easycredit-tx-manager .progress-bar .progress.error {
  color: #e90202;
}
.easycredit-tx-manager select,
.easycredit-tx-manager input,
.easycredit-tx-manager button {
  display: inline-block;
  margin-bottom: 10px;
  padding: 1px 15px 0;
  width: 100%;
  max-width: 300px;
  height: 35px;
  box-sizing: border-box;
  line-height: 32px;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  color: #000;
}
.easycredit-tx-manager select {
  background-image: url("data:image/svg+xml,<svg width='20' height='13' xmlns='http://www.w3.org/2000/svg'><path d='M19.799 2.4l-9.9 9.899L0 2.399 2.121.28 9.9 8.055 17.678.278z' fill='%23000' fill-rule='evenodd'/></svg>");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 10px;
  cursor: pointer;
}
.easycredit-tx-manager select#easycredit-merchant-status, .easycredit-tx-manager select#easycredit-merchant-refund-reason {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.easycredit-tx-manager select#easycredit-merchant-status::-ms-expand, .easycredit-tx-manager select#easycredit-merchant-refund-reason::-ms-expand {
  display: none;
}
.easycredit-tx-manager select:disabled {
  color: rgba(0, 0, 0, 0.4);
}
.easycredit-tx-manager input::-webkit-inner-spin-button {
  display: none;
}
.easycredit-tx-manager input::-webkit-calendar-picker-indicator {
  color: transparent;
  background: transparent;
  margin-left: 10px;
  margin-right: -5px;
  padding: 0;
  width: 10px;
  background-image: url("data:image/svg+xml,<svg width='20' height='13' xmlns='http://www.w3.org/2000/svg'><path d='M19.799 2.4l-9.9 9.899L0 2.399 2.121.28 9.9 8.055 17.678.278z' fill='%23000' fill-rule='evenodd'/></svg>");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  cursor: pointer;
}
.easycredit-tx-manager input:disabled {
  color: rgba(0, 0, 0, 0.4);
}
.easycredit-tx-manager button {
  margin-bottom: 0;
  background-color: #0066b3;
  border: 0;
  border-radius: 20px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif !important;
  color: #fff;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.easycredit-tx-manager button:hover {
  background-color: #00579a;
}
.easycredit-tx-manager button:disabled {
  background-color: #f2f2f2;
}
.easycredit-tx-manager .amount input {
  width: 120px;
}
.easycredit-tx-manager .loading .spinner, .easycredit-tx-manager.loading .spinner {
  background-image: url("data:image/svg+xml,<svg width='46' height='46' xmlns='http://www.w3.org/2000/svg'><g fill='none' fill-rule='evenodd'><path d='M46 23c0 12.703-10.297 23-23 23S0 35.703 0 23 10.297 0 23 0s23 10.297 23 23' fill='%23005DA9'/><path fill='%23EC6608' d='M19.12 22.58L12 16v21h22z'/><path d='M25.734 8h-6.469C15.252 8 12 11.283 12 15.333V30c0-4.05 3.252-7.333 7.265-7.333l6.47-.002c4.012 0 7.265-3.283 7.265-7.332C33 11.283 29.747 8 25.734 8' fill='%23FFF'/></g></svg>");
  background-repeat: no-repeat;
  background-position: center;
  animation: 1.4s linear infinite both circle-linear--animation;
  animation-delay: 0.3s;
  visibility: visible;
  min-width: 250px;
  min-height: 50px;
}
.easycredit-tx-manager .loading p, .easycredit-tx-manager.loading div, .easycredit-tx-manager.loading:before, .easycredit-tx-manager.loading span {
  visibility: hidden;
}