@import './easycredit-checkout.scss';

easycredit-checkout .ec-checkout__modal .close {
  background-image:url(/bundles/easycreditratenkauf/static/img/icon-close.svg);
}
easycredit-checkout .ec-checkout .form-radio label[for=paymentMethod] {
  background-image:url(/bundles/easycreditratenkauf/static/img/ratenkauf-icon.svg);
}

#easycredit-payment-form {
  
  > img {
    width: 46px;
    height: 35px;
  }

  label {
    display: table;
    width: auto;
    font-weight: normal;

    > {
      input, span {
        display: table-cell;
      }

      input {
        margin-right: 15px;
      }
    }
  }
}
  
.easycredit-description {
  .easycredit-method-title {
    background-image: url(https://www.easycredit-ratenkauf.de/download/200x43_Ratenkauf_Logo_mitSubline.png);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -1000px;
    display: inline-block;
    height: 30px;
    width: 145px;
    overflow: hidden;
  }
}

iframe.easycredit-modal {
  border: 0;
  height: 100%;
  width: 100%;
  min-height: 500px;
}
