{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_container %}
    {{ parent() }}

    {% block page_product_detail_buy_container_easycredit %}
        {% if buyable and product.calculatedCheapestPrice.totalPrice > 0 %}

            {# @var easycredit #}
            {% set easycredit = page.extensions.easycredit %}

            {% if easycredit.expressProductEnabled %}
                <div class="form-row mt-3 justify-content-end d-flex">
                    {% sw_include '@EasyCreditRatenkauf/storefront/component/express-button.html.twig' %}
                </div>
            {% endif %}
        {% endif %}
    {% endblock %}

{% endblock %}