{% block netzkollektiv_easycredit_transaction_handling %}
<div class="easycredit-marketing easycredit-transaction-handling">
    <div class="easycredit-marketing__content">
        <sw-inherit-wrapper v-if="!flowBuilderAvailable" v-model="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.markShipped']" :inheritedvalue="getCurrentSalesChannelId() == null ? null : getConfig(null)['EasyCreditRatenkauf.config.markShipped']" :custominheritationcheckfunction="checkBoolFieldInheritance">
            <template #content="props">
                <sw-switch-field name="EasyCreditRatenkauf.config.markShipped" {#bordered#} :mapinheritance="props" :label="$tc('easycredit-payment.transactionHandling.capture.label')" :disabled="props.isInherited" :value="props.currentValue" @change="props.updateCurrentValue" bordered></sw-switch-field>
            </template>
        </sw-inherit-wrapper>

        <sw-inherit-wrapper v-if="!flowBuilderAvailable" v-model="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.markRefunded']" :inheritedvalue="getCurrentSalesChannelId() == null ? null : getConfig(null)['EasyCreditRatenkauf.config.markRefunded']" :custominheritationcheckfunction="checkBoolFieldInheritance">
            <template #content="props">
                <sw-switch-field name="EasyCreditRatenkauf.config.markRefunded" {#bordered#} :mapinheritance="props" :label="$tc('easycredit-payment.transactionHandling.refund.label')" :disabled="props.isInherited" :value="props.currentValue" @change="props.updateCurrentValue" bordered></sw-switch-field>
            </template>
        </sw-inherit-wrapper>

        <p v-if="flowBuilderAvailable">
            {{ $tc('easycredit-payment.transactionHandling.note') }}<br /><br />

            <sw-button
                variant="primary"
                :routerLink="{ name: 'sw.flow.index', params: { limit: 25, page: 1, term: 'easycredit', sortBy: 'createdAt', sortDirection: 'DESC', naturalSorting: false } }"
            >
                {{ $tc('easycredit-payment.transactionHandling.goto') }} Flow Builder <sw-icon name="regular-flow" />
            </sw-button>
        </p>
    </div>
</div>
{% endblock %}
