.easycredit-payment-detail__data {
    display: grid;
}

.easycredit-payment-detail__heading {
    padding-top: 15px;
}

.easycredit-payment-detail .sw-card__content {
    max-width:350px;
}

easycredit-tx-status {
    padding-bottom: 21px;
}
