{% block netzkollektiv_easycredit_content_card_channel_config_credentials %}
    <sw-card class="sw-card--grid"
             :title="$tc('easycredit.settingForm.credentials.cardTitle')">
        {% block netzkollektiv_easycredit_content_card_channel_config_credentials_card_container %}
            <sw-container>
                {% block netzkollektiv_easycredit_content_card_channel_config_credentials_card_container_settings %}
                    <div class="easycredit-settings-credentials-fields" v-if="actualConfigData">
                        {% block netzkollektiv_easycredit_content_card_channel_config_credentials_card_container_settings_webshop_id %}
                            <sw-inherit-wrapper v-model="actualConfigData['NetzkollektivEasyCredit.settings.webshopId']"
                                                :inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NetzkollektivEasyCredit.settings.webshopId']"
                                                :customInheritationCheckFunction="checkTextFieldInheritance">
                                <template #content="props">
                                    <sw-text-field name="NetzkollektivEasyCredit.settings.webshopId"
                                                   :mapInheritance="props"
                                                   :label="$tc('easycredit.settingForm.credentials.webshopId.label')"
                                                   :helpText="$tc('easycredit.settingForm.credentials.webshopId.tooltipText')"
                                                   :disabled="props.isInherited"
                                                   :value="props.currentValue"
                                                   @change="props.updateCurrentValue">
                                    </sw-text-field>
                                </template>
                            </sw-inherit-wrapper>
                        {% endblock %}

                        {% block netzkollektiv_easycredit_content_card_channel_config_credentials_card_container_settings_api_password %}
                            <sw-inherit-wrapper v-model="actualConfigData['NetzkollektivEasyCredit.settings.apiPassword']"
                                                :inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NetzkollektivEasyCredit.settings.apiPassword']"
                                                :customInheritationCheckFunction="checkTextFieldInheritance">
                                <template #content="props">
                                    <sw-text-field name="NetzkollektivEasyCredit.settings.apiPassword"
                                                   :mapInheritance="props"
                                                   :label="$tc('easycredit.settingForm.credentials.apiPassword.label')"
                                                   :helpText="$tc('easycredit.settingForm.credentials.apiPassword.tooltipText')"
                                                   :disabled="props.isInherited"
                                                   :value="props.currentValue"
                                                   @change="props.updateCurrentValue">
                                    </sw-text-field>
                                </template>
                            </sw-inherit-wrapper>
                        {% endblock %}
                    </div>
                {% endblock %}
            </sw-container>
        {% endblock %}
    </sw-card>
{% endblock %}