<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <name>intro</name>

        <component name="easycredit-intro">
            <name>introCols</name>
        </component>
    </card>

    <card>
        <title lang="de-DE">API Zugangsdaten</title>
        <title lang="en-GB">API Credentials</title>
        <name>api-credentials</name>

        <input-field>
            <name>webshopId</name>
            <label lang="de-DE">Webshop-ID</label>
            <label lang="en-GB">Webshop-ID</label>
            <required>1</required>
            <helpText lang="de-DE">Die Webshop-ID, die das Plugin dazu verwendet sich mit der easyCredit API zu authentifizieren.</helpText>
            <helpText lang="en-GB">The Webshop-ID being used to authenticate with easyCredit API.</helpText>
            <placeholder>1.de.1234.1</placeholder>
        </input-field>
        <input-field>
            <name>apiPassword</name>
            <label lang="de-DE">API Passwort</label>
            <label lang="en-GB">API Password</label>
            <required>1</required>
            <helpText lang="de-DE">Das API Passwort, welchen das Plugin dazu verwendet sich mit der easyCredit API zu authentifizieren.</helpText>
            <helpText lang="en-GB">The API Key is being used to authenticate with easyCredit API.</helpText>
        </input-field>
        <input-field>
            <name>apiSignature</name>
            <label lang="de-DE">API Signatur (wenn aktiviert in Partnerportal, optional)</label>
            <label lang="en-GB">API Signature (if activated in partner portal, optional)</label>
            <helpText lang="de-DE">Die API Signatur sichert die Datenübertragung gegen Datenmanipulation von Dritten ab. Sie können die API-Signatur im easyCredit Partnerportal aktivieren.</helpText>
            <helpText lang="en-GB">The API signature secures the data transfer against data manipulation by third parties. You can activate the API signature in the easyCredit merchant portal.</helpText>
        </input-field>

        <component name="easycredit-test-credentials-button">
            <name>testCredentialButton</name>
        </component>
    </card>

    <card>
        <title lang="de-DE">Verhalten</title>
        <title lang="en-GB">Behavior</title>
        <name>behavior</name>

        <input-field type="bool">
            <name>removeInterest</name>
            <label lang="de-DE">Zinsen nach Bestellabschluss entfernen</label>
            <label lang="en-GB">Remove interest after order</label>
            <helpText lang="de-DE">Entfernt die Zinsen nach Bestellabschluss aus der Bestellung.</helpText>
            <helpText lang="en-GB">Removes the interest from orders after the order has been placed</helpText>
        </input-field>
        <input-field type="bool">
            <name>debug</name>
            <label lang="de-DE">Debug-Logging aktivieren</label>
            <label lang="en-GB">Debug-Logging aktivieren</label>
            <helpText lang="de-DE">Aktiviert das Debug-Logging (var/log/netzkollektiv_easycredit_*-YYYY-MM-DD.log).</helpText>
            <helpText lang="en-GB">Enables debug logging (var/log/netzkollektiv_easycredit_*-YYYY-MM-DD.log).</helpText>
        </input-field>
        <component name="easycredit-payment-status-select">
            <name>paymentStatus</name>
            <entity>state_machine_state</entity>
            <label lang="de-DE">Zahlungsstatus</label>
            <label lang="en-GB">Payment Status</label>
            <helpText lang="de-DE">Legt den Zahlungs fest, den eine Bestellung nach Aufgabe durch den Kunden hat. Der Status ist auf die in den Statusübergängen für eine neue Bestellung definierten möglichen Werte beschränkt.</helpText>
            <helpText lang="en-GB">Define the payment status of orders paid with easyCredit. The status is restricted by the defined Shopware transitions available for a new order.</helpText>
        </component>
        <component name="easycredit-order-status-select">
            <name>orderStatus</name>
            <entity>state_machine_state</entity>
            <label lang="de-DE">Bestellstatus</label>
            <label lang="en-GB">Order Status</label>
            <helpText lang="de-DE">Legt den Bestellstatus fest, den eine Bestellung nach Aufgabe durch den Kunden hat. Der Status ist auf die in den Statusübergängen für eine neue Bestellung definierten möglichen Werte beschränkt.</helpText>
            <helpText lang="en-GB">Define the order status of orders paid with easyCredit. The status is restricted by the defined Shopware transitions available for a new order.</helpText>
       </component>
    </card>

    <card>
        <title lang="de-DE">Transaktionsverarbeitung</title>
        <title lang="en-GB">Transaction Handling</title>
        <name>transactionHandling</name>
        <component name="easycredit-transaction-handling">
            <name>transactionHandling</name>
        </component>
    </card>

    <card>
        <title lang="de-DE">Marketing</title>
        <title lang="en-GB">Marketing</title>
        <name>marketing</name>

        <component name="easycredit-marketing">
            <name>marketingTabs</name>
        </component>
    </card>

    <card>
        <title lang="de-DE"><![CDATA[Click & Collect]]></title>
        <title lang="en-GB"><![CDATA[Click & Collect]]></title>
        <name>clickandcollect</name>

        <component name="easycredit-click-and-collect-intro">
            <name>clickAndCollectIntro</name>
        </component>

        <component name="sw-entity-single-select">
            <name>clickAndCollectShippingMethod</name>
            <entity>shipping_method</entity>
            <label lang="de-DE"><![CDATA[Versandart]]></label>
            <label lang="en-GB"><![CDATA[Shipping Method]]></label>
            <helpText lang="de-DE"><![CDATA[Bitte geben Sie die Versandart an, mit der Sie Click & Collect anbieten. In der Regel handelt sich um die Versandart "Selbstabholung" oder ähnlich.]]></helpText>
            <helpText lang="en-GB"><![CDATA[Please specify the shipping method with which you offer "Click & Collect". Usually this shipping method is named "In-Store Pickup" or similar.]]></helpText>
        </component>
    </card>
</config>
