{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{% block page_checkout_aside_actions %}
    {{ parent() }}

    {% block page_checkout_aside_actions_easycredit %}

        {# @var easycredit #}
        {% set easycredit = page.extensions.easycredit %}

        {% if easycredit.expressCartEnabled %}
            <div class="form-row mt-3 justify-content-end">
                {% sw_include '@EasyCreditRatenkauf/storefront/component/express-button.html.twig' with {fullWidth: true} %}
            </div>
        {% endif %}
    {% endblock %}

{% endblock %}