<div class="easycredit-marketing intro">
    <div class="easycredit-marketing__grid">
        <div class="easycredit-marketing__content">
            <h3>{{ $tc('easycredit-payment.intro.introLinks.title') }}</h3>
            <ul>
                <li><a href="https://partner.easycredit-ratenkauf.de/registrierung/firmendaten" target="_blank">{{ $tc('easycredit-payment.intro.introLinks.register') }}</a></li>
                <li><a href="https://netzkollektiv.com/docs/easycredit-ratenkauf-shopware6/index.html" target="_blank">{{ $tc('easycredit-payment.intro.introLinks.documentation') }}</a></li>
                <li><a href="https://easycredit-demo.netzkollektiv.com/" target="_blank">{{ $tc('easycredit-payment.intro.introLinks.demoshop') }}</a></li>
                <li><a href="https://www.easycredit-ratenkauf.de/kontakt/" target="_blank">{{ $tc('easycredit-payment.intro.introLinks.support') }}</a></li>
            </ul>
        </div>

        <div class="easycredit-marketing__image">
            <img :src="'/easycreditratenkauf/static/ratenkauf-logo.svg' | asset">
        </div>
    </div>
</div>
