<sw-alert
    variant="info"
    :showIcon="false"
    v-if="billPaymentActive"
>
    <span class="badge">Neu</span>
    <strong>Ab sofort können Sie easyCredit-Rechnung aktivieren.</strong> <a href="/admin#/sw/settings/payment/overview">Jetzt aktivieren</a>
</sw-alert>

<div class="easycredit-marketing__grid">
    <div class="sw-card">
        <div class="sw-card__content">
            <div class="easycredit-marketing intro-2024">
                <div class="easycredit-marketing__grid">
                    <div class="easycredit-marketing__content">
                        <h2>Der einfachste Rechnungs- und Ratenkauf Deutschlands.</h2>
                        <p>Wir freuen uns, dass Sie sich für easyCredit entschieden haben, die perfekte Zahlungsmethode für den Handel in Onlineshops.</p>
                        <sw-button
                            variant="primary"
                            link="https://netzkollektiv.com/docs/easycredit-ratenkauf-shopware6/index.html"
                        >
                            {{ $tc('easycredit-payment.intro.introLinks.documentation') }} <!--<sw-icon name="regular-external-link-s" />-->
                        </sw-button>
                        <sw-button
                            variant="primary"
                            link="https://easycredit-demo.netzkollektiv.com/"
                        >
                            {{ $tc('easycredit-payment.intro.introLinks.demoshop') }} <!--<sw-icon name="regular-external-link-s" />-->
                        </sw-button>
                    </div>

                    <div class="easycredit-marketing__image bg fill aspect-2-3">
                        <img :src="assetFilter('/easycreditratenkauf/static/card-intro-image.png')">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sw-card dimmed">
        <div class="sw-card__content">
            <div class="easycredit-marketing intro-2024">
                <div class="easycredit-marketing__content">
                    <h2>Sie haben Fragen? Wir helfen gerne.</h2>
                    <p>Wir sind von Montag bis Freitag von 8:00 bis 18:00 Uhr für Sie erreichbar.</p>
                    <ul>
                        <li><a href="https://www.easycredit-ratenkauf.de/kontakt/" target="_blank">{{ $tc('easycredit-payment.intro.introLinks.support') }}</a></li>
                        <li><a href="tel:091153902726" target="_blank">{{ $tc('easycredit-payment.intro.introLinks.call-us') }}</a></li>
                        <li><a href="https://www.easycredit-ratenkauf.de/kontakt/#b064f73c4cdfc080a73b69ea0125da53" target="_blank">{{ $tc('easycredit-payment.intro.introLinks.contact-form') }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sw-card" id="ecbill">
    <div class="sw-card__content">
        <div class="easycredit-marketing intro-2024">
            <div class="easycredit-marketing__grid grid-50-50">
                <div class="easycredit-marketing__image bg fill aspect-36-2">
                    <img :src="assetFilter('/easycreditratenkauf/static/card-easycredit-rechnung-image.png')">
                </div>

                <div class="easycredit-marketing__content">
                    <span class="badge">Neu</span>
                    <h2>easyCredit-Rechnung - die ideale Ergänzung zum Ratenkauf</h2>
                    <p>Sie können Ihren Kunden mit easyCredit neben dem klassischen Ratenkauf nun auch den Kauf auf Rechnung anbieten. Das Zahlungsziel liegt dabei <strong>30 Tage in der Zukunft</strong>.</p>
                    <sw-button
                        variant="primary"
                        link="/admin#/sw/settings/payment/overview"
                        v-if="billPaymentActive"
                    >
                        Jetzt aktivieren
                    </sw-button>
                    <sw-button
                        variant="primary"
                        link="https://partner.easycredit-ratenkauf.de/portal"
                        v-if="!billPaymentActive"
                    >
                        Jetzt freischalten lassen
                    </sw-button>
                    <sw-button
                        variant="context"
                        link="https://www.easycredit-ratenkauf.de/produkt/"
                    >
                        Mehr erfahren <sw-icon name="regular-external-link-s" />
                    </sw-button>
                </div>
            </div>
        </div>
    </div>
</div>
