.easycredit-click-and-collect-intro p {
  margin-bottom:10px;
  font-size:14px
}
.easycredit-click-and-collect-logo {
   display:block;
   float:right;
   margin: 0 0 15px 15px;
}

.easycredit-click-and-collect-intro {
  clear:both;
}