<div class="easycredit-marketing clickandcollect">
    <div class="easycredit-marketing__grid">
        <div class="easycredit-marketing__content" v-html="$tc('easycredit-payment.clickAndCollect.introText')">
        </div>

        <div class="easycredit-marketing__image bg">
            <img :src="assetFilter('/easycreditratenkauf/static/ratenkauf-clickandcollect.png')">
        </div>
    </div>
</div>
