{% block netzkollektiv_easycredit_marketing %}
<div class="easycredit-marketing">
    <nav class="easycredit-marketing__tabs">
        <a
            v-for="(tab, index) in tabs"
            :key="index"
            class="easycredit-marketing__tab"
            :class="{ active: selectedTab === tab.id }"
            @click="selectTab(tab.id)"
        >
            {{ tab.title }}
        </a>
    </nav>

    <div
        class="easycredit-marketing__tab-content intro"
        :class="{ active: selectedTab === 'intro' }"
    >
        <div class="easycredit-marketing__grid">
            <div class="easycredit-marketing__content">
                <p>
                    {{ $tc('easycredit-payment.marketing.overview.introText') }}
                </p>

                <h3>{{ $tc('easycredit-payment.marketing.overview.introLinks.title') }}</h3>
                <ul>
                    <li><a href="https://netzkollektiv.com/docs/easycredit-ratenkauf-components/" target="_blank">{{ $tc('easycredit-payment.marketing.overview.introLinks.documentation') }}</a></li>
                    <li><a href="https://easycredit-demo.netzkollektiv.com/" target="_blank">{{ $tc('easycredit-payment.marketing.overview.introLinks.demoshop') }}</a></li>
                    <li><a href="https://www.easycredit-ratenkauf.de/marketingmaterial-schulung/" target="_blank">{{ $tc('easycredit-payment.marketing.overview.introLinks.marketingPortal') }}</a></li>
                </ul>
            </div>

            <div class="easycredit-marketing__image">
                <img :src="assetFilter('/easycreditratenkauf/static/easycredit-marketing-modal.png')">
            </div>
        </div>
    </div>

    <div
        class="easycredit-marketing__tab-content express"
        :class="{ active: selectedTab === 'express' }"
    >
        <div class="easycredit-marketing__grid">
            <div class="easycredit-marketing__content">
                <p>
                    {{ $tc('easycredit-payment.marketing.express.introText') }}
                </p>

                <h3>{{ $tc('easycredit-payment.marketing.express.fieldsActivate.title') }}</h3>
                {% block netzkollektiv_easycredit_marketing_express_fields_activation %}
                    <sw-inherit-wrapper 
                        v-model="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.expressProductEnabled']" {# vue2-legacy #}
                        v-model:value="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.expressProductEnabled']"
                        :inheritedValue="getCurrentSalesChannelId() == null ? null : getConfig(null)['EasyCreditRatenkauf.config.expressProductEnabled']"
                        :customInheritationCheckFunction="checkBoolFieldInheritance"
                    >
                        <template #content="props">
                            <sw-switch-field name="EasyCreditRatenkauf.config.expressProductEnabled"
                                {#bordered#}
                                :mapInheritance="props"
                                :label="$tc('easycredit-payment.marketing.express.fieldsActivate.expressProductLabel')"
                                :disabled="props.isInherited"
                                :value="props.currentValue"
                                @update:value="props.updateCurrentValue"
                                @change="props.updateCurrentValue" {# vue2-legacy #}
                            ></sw-switch-field>
                        </template>
                    </sw-inherit-wrapper>
                    <sw-inherit-wrapper 
                        v-model="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.expressCartEnabled']" {# vue2-legacy #}
                        v-model:value="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.expressCartEnabled']"
                        :inheritedValue="getCurrentSalesChannelId() == null ? null : getConfig(null)['EasyCreditRatenkauf.config.expressCartEnabled']"
                        :customInheritationCheckFunction="checkBoolFieldInheritance"
                    >
                        <template #content="props">
                            <sw-switch-field name="EasyCreditRatenkauf.config.expressCartEnabled"
                                {#bordered#}
                                :mapInheritance="props"
                                :label="$tc('easycredit-payment.marketing.express.fieldsActivate.expressCartLabel')"
                                :disabled="props.isInherited"
                                :value="props.currentValue"
                                @update:value="props.updateCurrentValue"
                                @change="props.updateCurrentValue" {# vue2-legacy #}
                            ></sw-switch-field>
                        </template>
                    </sw-inherit-wrapper>
                {% endblock %}
            </div>

            <div class="easycredit-marketing__image bg">
                <img :src="assetFilter('/easycreditratenkauf/static/easycredit-marketing-express-button.png')">
            </div>
        </div>
    </div>

    <div
        class="easycredit-marketing__tab-content widget"
        :class="{ active: selectedTab === 'widget' }"
    >
        <div class="easycredit-marketing__grid">
            <div class="easycredit-marketing__content">
                <p>
                    {{ $tc('easycredit-payment.marketing.widget.introText') }}
                </p>

                <h3>{{ $tc('easycredit-payment.marketing.widget.fieldsActivate.title') }}</h3>
                {% block netzkollektiv_easycredit_marketing_widget_fields_activation %}
                    <sw-inherit-wrapper
                        v-model="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.widgetEnabled']" {# vue2-legacy #}
                        v-model:value="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.widgetEnabled']"
                        :inheritedValue="getCurrentSalesChannelId() == null ? null : getConfig(null)['EasyCreditRatenkauf.config.widgetEnabled']"
                        :customInheritationCheckFunction="checkBoolFieldInheritance"
                    >
                        <template #content="props">
                            <sw-switch-field name="EasyCreditRatenkauf.config.widgetEnabled"
                                {#bordered#}
                                :mapInheritance="props"
                                :label="$tc('easycredit-payment.marketing.widget.fieldsActivate.showLabel')"
                                :disabled="props.isInherited"
                                :value="props.currentValue"
                                @update:value="props.updateCurrentValue"
                                @change="props.updateCurrentValue" {# vue2-legacy #}
                            ></sw-switch-field>
                        </template>
                    </sw-inherit-wrapper>
                {% endblock %}

                <h3>{{ $tc('easycredit-payment.marketing.widget.fieldsSettings.title') }}</h3>
                {% block netzkollektiv_easycredit_marketing_widget_fields_settings %}
                    <sw-inherit-wrapper 
                        v-model="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.widgetSelectorProductDetail']" {# vue2-legacy #}
                        v-model:value="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.widgetSelectorProductDetail']"
                        :inheritedValue="getCurrentSalesChannelId() == null ? null : getConfig(null)['EasyCreditRatenkauf.config.widgetSelectorProductDetail']"
                        :customInheritationCheckFunction="checkTextFieldInheritance"
                    >
                        <template #content="props">
                            <sw-text-field name="EasyCreditRatenkauf.config.widgetSelectorProductDetail"
                                {#bordered#}
                                :mapInheritance="props"
                                :label="$tc('easycredit-payment.marketing.widget.fieldsSettings.selectorProduct.label')"
                                :helpText="$tc('easycredit-payment.marketing.widget.fieldsSettings.helpTextSelector') + '.product-detail-buy .product-detail-tax-container'"
                                :disabled="props.isInherited"
                                :value="props.currentValue"
                                @update:value="props.updateCurrentValue"
                                @change="props.updateCurrentValue" {# vue2-legacy #}
                            ></sw-text-field>
                        </template>
                    </sw-inherit-wrapper>
                    <sw-inherit-wrapper
                        v-model="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.widgetSelectorProductListing']" {# vue2-legacy #}
                        v-model:value="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.widgetSelectorProductListing']"
                        :inheritedValue="getCurrentSalesChannelId() == null ? null : getConfig(null)['EasyCreditRatenkauf.config.widgetSelectorProductListing']"
                        :customInheritationCheckFunction="checkTextFieldInheritance"
                    >
                        <template #content="props">
                            <sw-text-field name="EasyCreditRatenkauf.config.widgetSelectorProductListing"
                                {#bordered#}
                                :mapInheritance="props"
                                :label="$tc('easycredit-payment.marketing.widget.fieldsSettings.selectorProductListing.label')"
                                :helpText="$tc('easycredit-payment.marketing.widget.fieldsSettings.helpTextSelector') + '.cms-element-product-listing .product-box .product-price-wrapper easycredit-widget[display-type=minimal]'"
                                :disabled="props.isInherited"
                                :value="props.currentValue"
                                @update:value="props.updateCurrentValue"
                                @change="props.updateCurrentValue" {# vue2-legacy #}
                            ></sw-text-field>
                        </template>
                    </sw-inherit-wrapper>
                    <sw-inherit-wrapper 
                        v-model="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.widgetSelectorCart']" {# vue2-legacy #}
                        v-model:value="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.widgetSelectorCart']"
                        :inheritedValue="getCurrentSalesChannelId() == null ? null : getConfig(null)['EasyCreditRatenkauf.config.widgetSelectorCart']"
                        :customInheritationCheckFunction="checkTextFieldInheritance"
                    >
                        <template #content="props">
                            <sw-text-field name="EasyCreditRatenkauf.config.widgetSelectorCart"
                                {#bordered#}
                                :mapInheritance="props"
                                :label="$tc('easycredit-payment.marketing.widget.fieldsSettings.selectorCart.label')"
                                :helpText="$tc('easycredit-payment.marketing.widget.fieldsSettings.helpTextSelector') + '.checkout-aside-action:not(.d-grid)'"
                                :disabled="props.isInherited"
                                :value="props.currentValue"
                                @update:value="props.updateCurrentValue"
                                @change="props.updateCurrentValue" {# vue2-legacy #}
                            ></sw-text-field>
                        </template>
                    </sw-inherit-wrapper>
                    <sw-inherit-wrapper
                        v-model="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.widgetSelectorOffCanvasCart']" {# vue2-legacy #}
                        v-model:value="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.widgetSelectorOffCanvasCart']"
                        :inheritedValue="getCurrentSalesChannelId() == null ? null : getConfig(null)['EasyCreditRatenkauf.config.widgetSelectorOffCanvasCart']"
                        :customInheritationCheckFunction="checkTextFieldInheritance"
                    >
                        <template #content="props">
                            <sw-text-field name="EasyCreditRatenkauf.config.widgetSelectorOffCanvasCart"
                                {#bordered#}
                                :mapInheritance="props"
                                :label="$tc('easycredit-payment.marketing.widget.fieldsSettings.selectorOffCanvasCart.label')"
                                :helpText="$tc('easycredit-payment.marketing.widget.fieldsSettings.helpTextSelector') + '.offcanvas-summary easycredit-widget[display-type=minimal]'"
                                :disabled="props.isInherited"
                                :value="props.currentValue"
                                @update:value="props.updateCurrentValue"
                                @change="props.updateCurrentValue" {# vue2-legacy #}
                            ></sw-text-field>
                        </template>
                    </sw-inherit-wrapper>
                {% endblock %}
            </div>

            <div class="easycredit-marketing__image bg">
                <img :src="assetFilter('/easycreditratenkauf/static/easycredit-marketing-widget.png')">
            </div>
        </div>
    </div>

    <div
        class="easycredit-marketing__tab-content modal"
        :class="{ active: selectedTab === 'modal' }"
    >
        <div class="easycredit-marketing__grid">
            <div class="easycredit-marketing__content">
                <p>
                    {{ $tc('easycredit-payment.marketing.modal.introText') }}
                </p>

                <h3>{{ $tc('easycredit-payment.marketing.modal.fieldsActivate.title') }}</h3>
                {% block netzkollektiv_easycredit_marketing_modal_fields_activation %}
                    <sw-inherit-wrapper 
                        v-model="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.modalEnabled']" {# vue2-legacy #}
                        v-model:value="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.modalEnabled']"
                        :inheritedValue="getCurrentSalesChannelId() == null ? null : getConfig(null)['EasyCreditRatenkauf.config.modalEnabled']"
                        :customInheritationCheckFunction="checkBoolFieldInheritance"
                    >
                        <template #content="props">
                            <sw-switch-field name="EasyCreditRatenkauf.config.modalEnabled"
                                {#bordered#}
                                :mapInheritance="props"
                                :label="$tc('easycredit-payment.marketing.modal.fieldsActivate.showLabel')"
                                :disabled="props.isInherited"
                                :value="props.currentValue"
                                @update:value="props.updateCurrentValue"
                                @change="props.updateCurrentValue" {# vue2-legacy #}
                            ></sw-switch-field>
                        </template>
                    </sw-inherit-wrapper>
                {% endblock %}

                <h3>{{ $tc('easycredit-payment.marketing.modal.fieldsSettings.title') }}</h3>
                {% block netzkollektiv_easycredit_marketing_modal_fields_settings %}
                    <sw-inherit-wrapper 
                        v-model="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.modalSettingsDelay']" {# vue2-legacy #}
                        v-model:value="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.modalSettingsDelay']"
                        :inheritedValue="getCurrentSalesChannelId() == null ? null : getConfig(null)['EasyCreditRatenkauf.config.modalSettingsDelay']"
                        :customInheritationCheckFunction="checkTextFieldInheritance"
                    >
                        <template #content="props">
                            <sw-text-field name="EasyCreditRatenkauf.config.modalSettingsDelay"
                                {#bordered#}
                                {#min="0"
                                step="1"#}
                                placeholder="0"
                                @keyup="textToNumber(event)"
                                :mapInheritance="props"
                                :label="$tc('easycredit-payment.marketing.modal.fieldsSettings.delayLabel')"
                                :helpText="$tc('easycredit-payment.marketing.modal.fieldsSettings.delayHelpText')"
                                :disabled="props.isInherited"
                                :value="props.currentValue"
                                @update:value="props.updateCurrentValue"
                                @change="props.updateCurrentValue" {# vue2-legacy #}
                            ></sw-text-field>
                        </template>
                    </sw-inherit-wrapper>
                    <sw-inherit-wrapper 
                        v-model="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.modalSettingsSnoozeFor']" {# vue2-legacy #}
                        v-model:value="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.modalSettingsSnoozeFor']"
                        :inheritedValue="getCurrentSalesChannelId() == null ? null : getConfig(null)['EasyCreditRatenkauf.config.modalSettingsSnoozeFor']"
                        :customInheritationCheckFunction="checkTextFieldInheritance"
                    >
                        <template #content="props">
                            <sw-text-field name="EasyCreditRatenkauf.config.modalSettingsSnoozeFor"
                                {#bordered#}
                                {#min="0"
                                step="1"#}
                                placeholder="0"
                                @keyup="textToNumber(event)"
                                :mapInheritance="props"
                                :label="$tc('easycredit-payment.marketing.modal.fieldsSettings.reactivationLabel')"
                                :helpText="$tc('easycredit-payment.marketing.modal.fieldsSettings.reactivationHelpText')"
                                :disabled="props.isInherited"
                                :value="props.currentValue"
                                @update:value="props.updateCurrentValue"
                                @change="props.updateCurrentValue" {# vue2-legacy #}
                            >
                            </sw-text-field>
                        </template>
                    </sw-inherit-wrapper>
                    <sw-inherit-wrapper 
                        v-model="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.modalSettingsMedia']" {# vue2-legacy #}
                        v-model:value="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.modalSettingsMedia']"
                        :inheritedValue="getCurrentSalesChannelId() == null ? null : getConfig(null)['EasyCreditRatenkauf.config.modalSettingsMedia']"
                        :customInheritationCheckFunction="checkTextFieldInheritance"
                    >
                        <template #content="props">
                            <sw-help-text
                                :text="$tc('easycredit-payment.marketing.modal.fieldsSettings.mediaHelpText')"
                                :width="200"
                                tooltipPosition="top"
                                :showDelay="100"
                                :hideDelay="100"
                            ></sw-help-text>
                            <sw-media-field 
                                name="EasyCreditRatenkauf.config.modalSettingsMedia"
                                bordered
                                :mapInheritance="props"
                                :label="$tc('easycredit-payment.marketing.modal.fieldsSettings.mediaLabel')"
                                :disabled="props.isInherited"
                                :value="props.currentValue"
                                @update:value="props.updateCurrentValue"
                                v-model="props.currentValue" {# vue2-legacy #}
                                @media-id-change="props.updateCurrentValue" {# vue2-legacy #}
                            ></sw-media-field>
                        </template>
                    </sw-inherit-wrapper>
                {% endblock %}
            </div>

            <div class="easycredit-marketing__image bg">
                <img :src="assetFilter('/easycreditratenkauf/static/easycredit-marketing-modal.png')">
            </div>
        </div>
    </div>

    <div
        class="easycredit-marketing__tab-content card"
        :class="{ active: selectedTab === 'card' }"
    >
        <div class="easycredit-marketing__grid">
            <div class="easycredit-marketing__content">
                <p>
                    {{ $tc('easycredit-payment.marketing.card.introText') }}
                </p>

                <h3>{{ $tc('easycredit-payment.marketing.card.fieldsActivate.title') }}</h3>
                {% block netzkollektiv_easycredit_marketing_card_fields_activation %}
                    <sw-inherit-wrapper 
                        v-model="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.cardEnabled']" {# vue2-legacy #}
                        v-model:value="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.cardEnabled']"
                        :inheritedValue="getCurrentSalesChannelId() == null ? null : getConfig(null)['EasyCreditRatenkauf.config.cardEnabled']"
                        :customInheritationCheckFunction="checkBoolFieldInheritance"
                    >
                        <template #content="props">
                            <sw-switch-field name="EasyCreditRatenkauf.config.cardEnabled"
                                {#bordered#}
                                :mapInheritance="props"
                                :label="$tc('easycredit-payment.marketing.card.fieldsActivate.showCategoryLabel')"
                                :disabled="props.isInherited"
                                :value="props.currentValue"
                                @update:value="props.updateCurrentValue"
                                @change="props.updateCurrentValue" {# vue2-legacy #}
                            ></sw-switch-field>
                        </template>
                    </sw-inherit-wrapper>
                    <sw-inherit-wrapper 
                        v-model="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.cardSearchEnabled']" {# vue2-legacy #}
                        v-model:value="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.cardSearchEnabled']"
                        :inheritedValue="getCurrentSalesChannelId() == null ? null : getConfig(null)['EasyCreditRatenkauf.config.cardSearchEnabled']"
                        :customInheritationCheckFunction="checkBoolFieldInheritance"
                    >
                        <template #content="props">
                            <sw-switch-field name="EasyCreditRatenkauf.config.cardSearchEnabled"
                                {#bordered#}
                                :mapInheritance="props"
                                :label="$tc('easycredit-payment.marketing.card.fieldsActivate.showSearchLabel')"
                                :disabled="props.isInherited"
                                :value="props.currentValue"
                                @update:value="props.updateCurrentValue"
                                @change="props.updateCurrentValue" {# vue2-legacy #}
                            >
                            </sw-switch-field>
                        </template>
                    </sw-inherit-wrapper>
                {% endblock %}

                <h3>{{ $tc('easycredit-payment.marketing.card.fieldsSettings.title') }}</h3>
                {% block netzkollektiv_easycredit_marketing_card_fields_settings %}
                    <sw-inherit-wrapper 
                        v-model="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.cardSettingsPosition']" {# vue2-legacy #}
                        v-model:value="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.cardSettingsPosition']"
                        :inheritedValue="getCurrentSalesChannelId() == null ? null : getConfig(null)['EasyCreditRatenkauf.config.cardSettingsPosition']"
                        :customInheritationCheckFunction="checkTextFieldInheritance"
                    >
                        <template #content="props">
                            <sw-text-field name="EasyCreditRatenkauf.config.cardSettingsPosition"
                                {#bordered#}
                                {#min="1"
                                step="1"#}
                                placeholder="1"
                                @keyup="textToNumber(event)"
                                :mapInheritance="props"
                                :label="$tc('easycredit-payment.marketing.card.fieldsSettings.positionLabel')"
                                :disabled="props.isInherited"
                                :value="props.currentValue"
                                @update:value="props.updateCurrentValue"
                                @change="props.updateCurrentValue" {# vue2-legacy #}
                            ></sw-text-field>
                        </template>
                    </sw-inherit-wrapper>
                    <sw-inherit-wrapper 
                        v-model="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.cardSettingsMedia']" {# vue2-legacy #}
                        v-model:value="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.cardSettingsMedia']"
                        :inheritedValue="getCurrentSalesChannelId() == null ? null : getConfig(null)['EasyCreditRatenkauf.config.cardSettingsMedia']"
                        :customInheritationCheckFunction="checkTextFieldInheritance"
                    >
                        <template #content="props">
                            <sw-help-text
                                :text="$tc('easycredit-payment.marketing.card.fieldsSettings.mediaHelpText')"
                                :width="200"
                                tooltipPosition="top"
                                :showDelay="100"
                                :hideDelay="100"
                            ></sw-help-text>
                            <sw-media-field 
                                name="EasyCreditRatenkauf.config.cardSettingsMedia"
                                :mapInheritance="props"
                                :label="$tc('easycredit-payment.marketing.card.fieldsSettings.mediaLabel')"
                                :disabled="props.isInherited"
                                :value="props.currentValue"
                                @update:value="props.updateCurrentValue"
                                v-model="props.currentValue" {# vue2-legacy #}
                                @media-id-change="props.updateCurrentValue" {# vue2-legacy #}
                            ></sw-media-field>
                        </template>
                    </sw-inherit-wrapper>
                {% endblock %}
            </div>

            <div class="easycredit-marketing__image bg">
                <img :src="assetFilter('/easycreditratenkauf/static/easycredit-marketing-card.png')">
            </div>
        </div>
    </div>

    <div
        class="easycredit-marketing__tab-content flashbox"
        :class="{ active: selectedTab === 'flashbox' }"
    >
        <div class="easycredit-marketing__grid">
            <div class="easycredit-marketing__content">
                <p>
                    {{ $tc('easycredit-payment.marketing.flashbox.introText') }}
                </p>

                <h3>{{ $tc('easycredit-payment.marketing.flashbox.fieldsActivate.title') }}</h3>
                {% block netzkollektiv_easycredit_marketing_flashbox_fields_activation %}
                    <sw-inherit-wrapper 
                        v-model="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.flashboxEnabled']" {# vue2-legacy #}
                        v-model:value="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.flashboxEnabled']"
                        :inheritedValue="getCurrentSalesChannelId() == null ? null : getConfig(null)['EasyCreditRatenkauf.config.flashboxEnabled']"
                        :customInheritationCheckFunction="checkBoolFieldInheritance"
                    >
                        <template #content="props">
                            <sw-switch-field name="EasyCreditRatenkauf.config.flashboxEnabled"
                                {#bordered#}
                                :mapInheritance="props"
                                :label="$tc('easycredit-payment.marketing.flashbox.fieldsActivate.showLabel')"
                                :disabled="props.isInherited"
                                :value="props.currentValue"
                                @update:value="props.updateCurrentValue"
                                @change="props.updateCurrentValue" {# vue2-legacy #}
                            ></sw-switch-field>
                        </template>
                    </sw-inherit-wrapper>
                {% endblock %}

                <h3>{{ $tc('easycredit-payment.marketing.flashbox.fieldsSettings.title') }}</h3>
                {% block netzkollektiv_easycredit_marketing_flashbox_fields_settings %}
                    <sw-inherit-wrapper 
                        v-model="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.flashboxSettingsMedia']" {# vue2-legacy #}
                        v-model:value="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.flashboxSettingsMedia']"
                        :inheritedValue="getCurrentSalesChannelId() == null ? null : getConfig(null)['EasyCreditRatenkauf.config.flashboxSettingsMedia']"
                        :customInheritationCheckFunction="checkTextFieldInheritance"
                    >
                        <template #content="props">
                            <sw-help-text
                                :text="$tc('easycredit-payment.marketing.flashbox.fieldsSettings.mediaHelpText')"
                                :width="200"
                                tooltipPosition="top"
                                :showDelay="100"
                                :hideDelay="100"
                            ></sw-help-text>
                            <sw-media-field 
                                name="EasyCreditRatenkauf.config.flashboxSettingsMedia"
                                :mapInheritance="props"
                                :label="$tc('easycredit-payment.marketing.flashbox.fieldsSettings.mediaLabel')"
                                :disabled="props.isInherited"
                                :value="props.currentValue"
                                @update:value="props.updateCurrentValue"
                                v-model="props.currentValue" {# vue2-legacy #}
                                @media-id-change="props.updateCurrentValue" {# vue2-legacy #}
                            ></sw-media-field>
                        </template>
                    </sw-inherit-wrapper>
                {% endblock %}
            </div>

            <div class="easycredit-marketing__image bg">
                <img :src="assetFilter('/easycreditratenkauf/static/easycredit-marketing-flashbox.png')">
            </div>
        </div>
    </div>

    <div
        class="easycredit-marketing__tab-content bar"
        :class="{ active: selectedTab === 'bar' }"
    >
        <div class="easycredit-marketing__grid">
            <div class="easycredit-marketing__content">
                <p>
                    {{ $tc('easycredit-payment.marketing.bar.introText') }}
                </p>

                <h3>{{ $tc('easycredit-payment.marketing.bar.fieldsActivate.title') }}</h3>
                {% block netzkollektiv_easycredit_marketing_bar_fields_activation %}
                    <sw-inherit-wrapper 
                        v-model="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.barEnabled']" {# vue2-legacy #}
                        v-model:value="getConfig(getCurrentSalesChannelId())['EasyCreditRatenkauf.config.barEnabled']"
                        :inheritedValue="getCurrentSalesChannelId() == null ? null : getConfig(null)['EasyCreditRatenkauf.config.barEnabled']"
                        :customInheritationCheckFunction="checkBoolFieldInheritance"
                    >
                        <template #content="props">
                            <sw-switch-field name="EasyCreditRatenkauf.config.barEnabled"
                                {#bordered#}
                                :mapInheritance="props"
                                :label="$tc('easycredit-payment.marketing.bar.fieldsActivate.showLabel')"
                                :disabled="props.isInherited"
                                :value="props.currentValue"
                                @update:value="props.updateCurrentValue"
                                @change="props.updateCurrentValue" {# vue2-legacy #}
                            ></sw-switch-field>
                        </template>
                    </sw-inherit-wrapper>
                {% endblock %}
            </div>

            <div class="easycredit-marketing__image bg">
                <img :src="assetFilter('/easycreditratenkauf/static/easycredit-marketing-bar.png')">
            </div>
        </div>
    </div>
</div>
{% endblock %}
