$font-size-base: 14px;
$font-size-sm: $font-size-base * 0.85;
$font-size-md: $font-size-base * 1.075;
$font-size-lg: $font-size-base * 1.15;
$font-size-h2: $font-size-base * 1.725;
$font-size-h3: $font-size-base * 1.15;
$line-height: 1.55;
$line-height-heading: 1.3;

$color-shopware-brand-vivid-500: #189eff;
$color-shopware-brand-vivid-500-hover: #118cff;
$color-neutrals-gray-300: #d1d9e0;
$color-neutrals-generic-black: #000;
$color-typestyle-paragraph-default: #52667A;

$color-ec-gray: #E5EAEE;
$color-darkblue: #002C5A;

.badge {
    margin-right: 7.5px;
    padding: 1px 5px 2px;
    background-color: $color-shopware-brand-vivid-500;
    border-radius: 10px;
    font-size: $font-size-sm;
    font-weight: 600;
    color: #fff;
}
.badge + h2 {
    margin-top: 5px;
}

.easycredit-marketing {
    font-size: $font-size-base;
    line-height: $line-height;

    --grid-column-gap: 48px;
    --grid-column-gap-m: 36px;
    --grid-template-columns: 3fr 2fr;
    --grid-template-columns-50-50: 1fr 1fr;

    :last-child {
        margin-bottom: 0;
    }

    &__tabs {
        display: flex;
        margin-bottom: 12px;

        border-bottom: 1px solid $color-neutrals-gray-300;
    }
    &__tab {
        flex: 0 0 auto;

        position: relative;
        padding: 0 16px 8px;

        white-space: nowrap;
        font-size: $font-size-md;
        text-decoration: none !important;
        color: $color-typestyle-paragraph-default;

        &:first-child {
            margin-left: -16px;
        }

        &:not(.active) {
            cursor: pointer;
        }

        &.active {
            font-weight: 600;
            color: $color-neutrals-generic-black;

            &:after {
                content: '';
                display: block;

                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);

                height: 2px;
                width: calc(100% - 32px);

                border-bottom: 2px solid $color-shopware-brand-vivid-500;
            }
        }
    }

    &__tab-content {
        &:not(.active) {
            display: none;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: var(--grid-template-columns);
        grid-column-gap: var(--grid-column-gap);

        &:has(.intro-2024) {
            @media (max-width: 991px) {
                display: block;
            }
        }

        &.grid-50-50 {
            grid-template-columns: var(--grid-template-columns-50-50);
        }

        &:has(.easycredit-marketing__image + .easycredit-marketing__content) {
            grid-column-gap: var(--grid-column-gap-m);
        }
    }
    &__tab-content {
        .easycredit-marketing__grid {
            padding-top: 24px;
        }
    }

    &__content {
        h3 {
            margin-bottom: .5em;
    
            font-size: $font-size-h3 !important;
            line-height: $line-height;
            font-weight: 600 !important;
            color: $color-darkblue;
        }
        .sw-inherit-wrapper + h3 {
            margin-top: 1em;
        }
    
        p, ul {
            margin-bottom: 1em;
    
            font-size: $font-size-base;
            line-height: $line-height;
        }
        ul {
            list-style: none;
    
            li {
                margin-bottom: 5px;
            }
        }

        .sw-field {
            margin-top: 0;
            margin-bottom: 1em;

            &--switch {
                margin-top: 0;
                margin-bottom: 0;

                .sw-field {
                    margin-bottom: 0;
                }

                &:not(.is--bordered) {
                    .sw-field__label label,
                    .sw-field--switch__input {
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                }

                .sw-field__switch-state {
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        .sw-field--switch + :not(.sw-field--switch) {
            margin-top: 1em;
        }
        .sw-media-field {
            .sw-media-field__input-container {
                .sw-media-base-item {
                    &.is--list {
                        padding-left: 2px;
                        border: 1px solid $color-neutrals-gray-300;
                    }

                    &__preview-container {
                        .sw-media-preview-v2__item {
                            object-fit: cover;
                        }
                    }
                    &__name-container {
                        margin: 2px 0;
                    }
                }
            }
        }
        .sw-inherit-wrapper {
            > .sw-help-text {
                position: relative;
                z-index: 1;
                float: right;
            }
        }

        .sw-button {
            margin-bottom: 10px;

            .sw-icon {
                width: 10px;

                &.icon--regular-flow {
                    width: 15px;
                }
            }

            &--context {
                color: $color-shopware-brand-vivid-500;

                .sw-icon {
                    color: $color-shopware-brand-vivid-500;
                }
            }

            &:not(:last-child) {
                margin-right: 10px;
            }

            &.mt-button {
                &.sw-button--primary {
                    &:hover {
                        background-color: $color-shopware-brand-vivid-500-hover;
                    }
                }
            }
            &.mt-external-link {
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }

    &__image {
        &.bg {
            position: relative;
            overflow: hidden;

            background-color: $color-ec-gray;
            border-radius: 15px;

            &:after {
                content: '';
                display: block;
                width: 100%;
                padding-bottom: 75%;
            }

            img {
                position: absolute;
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }

        &.fill {
            position: relative;
            background-color: $color-ec-gray;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 15px;
            }
        }

        img {
            display: block;
            width: 100%;
            background-color: transparent;
            border-radius: 7px;
            box-shadow: 0 4px 20px 0 rgba(0,0,0,.25);
        }

        &.aspect-2-3 {
            aspect-ratio: 2/3;
        }
        &.aspect-36-2 {
            aspect-ratio: 3.6/2;
        }
    }
    .express,
    .widget {
        .easycredit-marketing__image {
            &.bg {
                img {
                    left: 50%;
                    top: 0;
                    transform: translateX(-50%);
                    width: 200px;
                    height: auto;

                    border-radius: 0 0 30px 30px;
                }
            }
        }
    }
    .modal {
        .easycredit-marketing__image {
            &.bg {
                img {
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 225px;
                    height: auto;

                    border-radius: 5px;
                }
            }
        }
    }
    .card {
        .easycredit-marketing__image {
            &.bg {
                min-height: 280px;

                img {
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 145px;
                    height: auto;

                    border-radius: 8px;
                }
            }
        }
    }
    .flashbox {
        .easycredit-marketing__image {
            &.bg {
                img {
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%);
                    width: 225px;
                    height: auto;

                    box-shadow: none;
                    border-radius: 0;
                }
            }
        }
    }
    .bar {
        .easycredit-marketing__image {
            &.bg {
                img {
                    left: 50%;
                    top: 0;
                    transform: translateX(-50%);
                    width: 100%;
                    height: auto;

                    box-shadow: none;
                    border-radius: 0;
                }
            }
        }
    }

    &.intro {
        .easycredit-marketing__image {
            img {
                margin-left: auto;
                width: 120px;
                border-radius: 0;
                box-shadow: none;
            }
        }
    }
    &.intro-2024 {
        --grid-column-gap: 24px;

        h2 {
            margin-bottom: 15px;

            font-size: $font-size-h2;
            line-height: $line-height-heading;
            font-weight: 600;
            color: $color-darkblue;
        }

        p {
            margin-bottom: 25px;
        }

        ul {
            li {
                margin-bottom: 8px;

                a {
                    font-weight: 600;
                    text-decoration: none;
                }
            }
        }
        a {
            &.not-decorated {
                font-weight: 600;
                text-decoration: none;
            }
        }
    }
    &.clickandcollect {
        margin-bottom: 1em;

        .easycredit-marketing__image {
            &.bg {
                background-color: $color-darkblue;

                img {
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    box-shadow: none;
                }
            }
        }
    }
}

.sw-alert {
    .badge {
        position: relative;
        top: -1.5px;
    }

    .sw-icon {
        margin-top: -1.5px;
    }
}

.sw-card {
    &.dimmed {
        > .sw-card__content {
            background-color: transparent;
        }
    }

    &:has(.sw-card .intro-2024) {
        --grid-column-gap: 24px;
        --grid-template-columns: 3.5fr 2fr;

        border-radius: 0;
        box-shadow: none;

        > .sw-card__content {
            padding: 0;
            background: transparent;
            border-radius: 0;
        }
    }
}
