name: Release

on:
  push:
    tag:
    - '*'

jobs:
  release:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: Run script file
      id: build-release
      run: |
         yarn release   

         echo "filepath=$(ls *.zip | head -1)" >> $GITHUB_OUTPUT
         echo "filename=$(basename `ls *.zip | head -1`)" >> $GITHUB_OUTPUT

         t=$(cat docs/source/changelog.rst  | php -r 'preg_match_all("#([v\d\.]+)\n[-]+\n(.+?)\n\n#s", file_get_contents("php://stdin"), $matches); echo trim($matches[2][0]);')

         t="${t//'%'/'%25'}"
         t="${t//$'\n'/'%0A'}"
         t="${t//$'\r'/'%0D'}"

         echo "changelog=$t" >> $GITHUB_OUTPUT

         #EOF=$(dd if=/dev/urandom bs=15 count=1 status=none | base64)
         #echo "changelog<<$EOF" >> $GITHUB_OUTPUT
         #echo $t >> $GITHUB_OUTPUT
         #echo "$EOF" >> $GITHUB_OUTPUT
      shell: bash
    - name: Create Release
      id: create-release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: v${{ github.ref }}
        body: ${{ steps.build-release.outputs.changelog }}
        draft: true
        prerelease: false
    - name: Upload Release Asset
      id: upload-release-asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create-release.outputs.upload_url }}
        asset_path: ${{ steps.build-release.outputs.filepath }}
        asset_name: ${{ steps.build-release.outputs.filename }}
        asset_content_type: application/zip
