{% sw_extends '@Storefront/storefront/component/product/listing.html.twig' %}

{% block element_product_listing_col %}

    {% if page.extensions.easycredit.card %}

    <div class="cms-listing-col {{ listingColumns }} easycredit-box-listing">
        <easycredit-box-listing 
            position="{{page.extensions.easycredit.cardSettingsPosition}}" 
            {% if page.extensions.easycredit.cardSettingsMedia %}
            {% set cardMediaCollection = searchMedia([page.extensions.easycredit.cardSettingsMedia], context.context) %}
            {% set cardMedia = cardMediaCollection.get(page.extensions.easycredit.cardSettingsMedia) %}
            src="{{ cardMedia.url }}"
            {% endif %}
        ></easycredit-box-listing>
    </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
