{% sw_extends '@Storefront/storefront/component/product/listing.html.twig' %}

{% block element_product_listing_col %}

    {% if page.extensions.easycredit.card %}
    {% set cardMediaCollection = searchMedia([page.extensions.easycredit.cardSettingsMedia], context.context) %}
    {% set cardMedia = cardMediaCollection.get(page.extensions.easycredit.cardSettingsMedia) %}
    <div class="cms-listing-col {{ listingColumns }} easycredit-box-listing">
        <easycredit-box-listing position="{{page.extensions.easycredit.cardSettingsPosition}}" src="{{ cardMedia.url }}"></easycredit-box-listing>
    </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
